.container {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.highlightLayer {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  pointer-events: auto;
}

.tipContainer {
  z-index: 6;
  position: absolute;
}

.disableSelection {
  user-select: none;
  pointer-events: none;
}

.isSelecting :global(.Highlight__part),
.isSelecting :global(.Highlight__comment-icon) {
  pointer-events: none;
}
